<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Создать новый форум - BitTorrent Share</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous">
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a th:href="@{/}" th:class="image-container">
            <img  th:src="@{/images/logo.png}" alt="BitTorrent OpenShare" class="responsive-image"/>
        </a>
        <button class="navbar-toggler" type="button" data-bstoggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <input class="ima" th:placeholder="Поиск">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-right">
                <li class="nav-item flex-right">
                    <a sec:authorize="not isAuthenticated()" class="nav-link active" aria-current="page"
                       th:href="@{/login}">Войти</a>
                    <a sec:authorize="not isAnonymous()" th:href="@{'/user'}" sec:authentication="name" th:class="nav-link"></a>
                </li>
                <li class="nav-item right-align">
                    <a class="nav-link active" aria-current="page"
                       th:href="@{/register}">Зарегистрироваться</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <hr/>
    <h3>Создание форума</h3>
    <hr/>
    <form th:action="@{/forum/saveForum}" th:object="${forum}" method="POST">
        <input type="text" th:field="*{forumName}" class="form-control col-4 mb-4"
               placeholder="Введите название форума"/>
        <input type="text" th:field="*{description}" class="form-control col-4 mb-4"
               placeholder="Краткое описание форума"/>
        <button type="submit" class="btn btn-primary col-2">Создать</button>
        <input type="hidden" th:field="*{createdBy}" th:value="${name}">
    </form>
</body>
</html>